:root {
    --marker-color: #dcf763;
    --grid-color: #dcf763;
    --background-color: #435058;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#main-content {
    background: var(--background-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    height: 75vw;
    width: 75vw;
    background-color: var(--grid-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.square {
    border: none;
    font-size: 4rem;
    color: var(--marker-color);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
