:root {
    --main-color: #435058;
    --secondary-color: #dcf763;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

h1 {
    font-size: 4rem;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#announcement {
    text-align: center;
    font-size: 2rem;
}

/* ------------------------ Gameboard ------------------------ */

#grid-container {
    height: 75vw;
    width: 75vw;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.square {
    border: none;
    font-size: 4rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ----------------------- Restart Button ----------------------- */

#restart-btn {
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 8px;
    cursor: pointer;
}

/* ------------------------- Hover Effects ------------------------- */

@media (hover: hover) {
    .square:hover {
        background-color: var(--secondary-color);
        filter: brightness(0.7);
    }

    #restart-btn:hover {
        background-color: var(--secondary-color);
        color: var(--main-color);
    }

    #github-link:hover {
        transform: scale(1.2);
    }
}

/* ----------------- Screens Narrower Than 350px ----------------- */

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 3rem;
    }

    #announcement {
        font-size: 1.5rem;
    }

    .square {
        font-size: 3.5rem;
    }

    #restart-btn {
        font-size: 1.2rem;
    }
}

/* ----------------------- Larger Screens ----------------------- */

@media only screen and (min-width: 500px) {
    #announcement {
        font-size: 2.5rem;
    }

    #grid-container {
        height: 50vh;
        width: 50vh;
        gap: 12px;
    }

    .square {
        font-size: 5rem;
    }
}

/* ------------------------------- Footer ------------------------------- */

footer {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    margin-top: auto; /* Make footer stay at bottom of page */
    margin-bottom: 1rem;
}

footer a {
    display: flex;
    align-items: center;
}

#github-icon {
    height: 1.5rem;
}
