* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#main-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.square {
    font-size: 8rem;
    background-color: white;
    padding: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
